body {
    background-image: url(image2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 70px;
}

.myclass {
    color: black;
}

.navbar-inner {
    background-color:transparent;
}