<form class="form-horizontal" name="loginForm" novalidate>
  <fieldset>
    <legend>Sign Up</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Email</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Email" type="text" name="email", ng-model="lc.user.email">
      </div>
    </div>
    
      <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="username" type="text" 
               name="username" 
               ng-model="lc.user.username"
               ng-required="true"
               check-user-name>
          <p ng-if="loginForm.username.$error.required && loginForm.username.$dirty">Username is required</p>
          <p ng-if="loginForm.username.$error.checkuser && loginForm.username.$dirty">Username already exists</p>
      </div>
    </div>
      
      <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Password" type="password" name="password" 
               ng-model="lc.user.password"
               ng-required="true">
          <p ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password is required</p>
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Age</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Age" type="text" name="age" 
               ng-model="lc.user.age"
               only-numbers
               maxlength=2>
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">Phone</label>
      <div class="col-lg-4">
        <input class="form-control" placeholder="Phone" type="text" name="phone" 
               ng-model="lc.user.phone"
               only-numbers
               maxlength=10>
      </div>
    </div>
      
      <div class="form-group">
      <label class="col-lg-2 control-label">DOB</label>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="DOB" ng-model="lc.user.DOB">
      </div>
    </div>
      
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Describe Yourself</label>
      <div class="col-lg-4">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Gender</label>
      <div class="col-lg-4">
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios1" value="option1" type="radio">
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input name="optionsRadios" id="optionsRadios2" value="option2" type="radio">
            Female
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>